# Requirements for 2048 DQN Agent

## Core Dependencies
torch>=2.0.0
numpy>=1.24.0
pygame>=2.5.0

## Visualization
matplotlib>=3.7.0

## Optional: For better logging
tensorboard>=2.13.0
tqdm>=4.65.0

